
/* Space Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
body.dark-mode {
  color: var(--white);
  background: var(--black);

}

body.light-mode {
    color: var(--black);
    background: var(--white);
} 


